<p>login works !</p>

<form [formGroup]="form" (ngSubmit)="connection()">
  <div>
    <label for="identifiant">Identifiant:</label>
    <input type="text" id="identifiant" formControlName="identifiant">
    <div *ngIf="form.get('identifiant')!.invalid && (form.get('identifiant')!.dirty || form.get('identifiant')!.touched)" class="text-danger">
      Identifiant is required.
    </div>
  </div>
  <div>
    <label for="motDePasse">Mot de Passe:</label>
    <input type="password" id="motDePasse" formControlName="motDePasse">
    <div *ngIf="form.get('motDePasse')!.invalid && (form.get('motDePasse')!.dirty || form.get('motDePasse')!.touched)" class="text-danger">
      Mot de Passe is required.
    </div>
  </div>
  <button type="submit" [disabled]="form.invalid">Login</button>
  <button (click)="disconnect()">Disconnect</button>
</form>
