<div class="Titre">{{ title }}</div>
<div class="Mois">{{ getCurrentMontName() }}</div>
<div class="left-buttons">
  <button (click)="create()">CREATE</button>
  <button (click)="nextMonth()"> > </button>
  <button (click)="previousMonth()"> < </button>
</div>
<div class="example-boundary">
  <table class="calendar">
    <thead>
    <tr>
      <th *ngFor="let day of getWeekdays()"> {{ day }} </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let week of getWeeks(currentMonth)">
      <ng-container *ngIf="week.length < 7 && week[0].date.getDate()==1">
        <td *ngFor="let i of [].constructor(7 - week.length)"></td>
      </ng-container>

      <td *ngFor="let day of week" [ngClass]="{'current-day': day.isCurrentMonth}">
      {{ day.date.getDate() }}
    </td>
    </tr>
    </tbody>
  </table>


  <ng-container *ngFor="let postit of postits">
  <div *ngIf="postit.createdMonth == currentMonth" [style.transform]="'translate3d('+postit.x+'px, '+postit.y+'px, 0px);'"
       class="example-box" cdkDragBoundary=".example-boundary" cdkDrag (dblclick)="editTitle(postit)">
      {{postit.title}}

      <button class = delete (click)="delete(postit.id)">X</button>
  </div>
  </ng-container>
</div>


