.example-box {
  position: absolute;
  width: 125px;
  height: 125px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  margin-right: 25px;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.delete {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  border: none;
  border-radius: 15%; /* Makes it a circle */
  cursor: pointer;
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-boundary {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  border: dotted #ccc 2px;
  position: relative;
  margin: 0 auto; /* Center horizontally */
}

.left-buttons {

  z-index: 1; /* Add this line */
}

.left-buttons button {
  margin-bottom: 10px;
}

.calendar {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

tr > td {
  border: black solid 1px;
  width: 12%;
  height: 18%;
  text-align: left;
  vertical-align: top;
}

.example-box.selected {
  /* Styles for selected state */
  border-color: blue;
  /* Add any other styles for selected state */
}

.Mois {
  text-align: center; /* Center the content horizontally */
  font-size: 40px; /* Set font size to 20 pixels */
  font-family: Verdana, Geneva, sans-serif; /* Use Verdana font, fallback to sans-serif */
  color: #04AA6D;
  margin: auto;
}

.today {
  position: relative;
}

.today::after {
  content: '';
  position: absolute;
  top: 0.1px;
  left: 0.1px;
  right: 0.1px;
  bottom: 0.1px;
  border: 2px solid #44e746; /* Red border */
}

.today .current-day {
  position: relative;
}

.today .current-day::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  border: 2px solid white; /* White border inside */
}


