<div class="left-buttons">
  <button (click)="createSchedule()">CREATE</button>
</div>

<div class="schedule-container">
  <div *ngFor="let schedule of schedules" class="schedule">
    <button class="delete" (click)="deleteSchedule(schedule.id)"> X </button>
    <div>
      <span>{{ schedule.title }}</span>
    </div>
    <div>
      <button class="modify" (click)="editScheduleText(schedule.id); $event.stopPropagation()">MODIFY</button>
    </div>
    <div>
      <button class="openSchedule" (click)="openSchedule(schedule.id)"> Open </button>
    </div>
  </div>
</div>
