.schedule {
  position: relative;
  background-color: lightgreen;
  padding: 10px;
  margin: 0 5px; /* Add some margin between schedule divs */
  display: inline-block;
  border-radius: 5px;
  width: 5vw; /* Set width to 5% of the viewport width */
  height: 5vw; /* Set height equal to width to maintain a square shape */
  border: 1px solid #ccc; /* Adding border for visualization */
  max-width: 300px; /* Set a maximum width for the schedule */
  word-wrap: break-word; /* Allow text to wrap within the container */
}


.schedule .delete {
  position: absolute;
  top: 0;
  right: 0; /* Positioning the button at the top right corner */
  background-color: red; /* Setting button background color to red */
  color: white; /* Setting button text color to white */
  border: none; /* Removing button border */
  padding: 5px; /* Adding padding for better appearance */
  cursor: pointer; /* Changing cursor to pointer on hover */
}

.modify {
  position: absolute;
  bottom: 5px; /* Adjust as needed */
  background-color: orange;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.openSchedule{
  position: absolute;
  bottom: 35px; /* Adjust as needed */
  background-color: rgb(253, 251, 251);
  color : black;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
}

.left-buttons{
  margin: 10px;
}
