<div class="left-buttons">
  <button (click)="createSchedule()">CREATE</button>
</div>

<div class="schedule-container">
  <div *ngFor="let schedule of schedules; let i = index" class="schedule">
    <button class="delete" (click)="deleteSchedule(i)"> X </button>
    <div>
      <span>{{ schedule.text }}</span>
    </div>
    <div>
      <button class="modify" (click)="editScheduleText(i); $event.stopPropagation()">MODIFY</button>
    </div>
    <div>
      <button class="openSchedule" (click)="openSchedule(schedule)"> Open </button>
    </div>
  </div>
</div>
